@layout Shared._Layout
@inject IHttpContextAccessor HttpContextAccessor
@inject IToastService ToastService
@inject ILogger<HelloWorld> Logger

<FluentStack>
    <FluentCard Appearance="Appearance.Accent">
        <p>@(Key) from minimal api  !</p>
    </FluentCard>
</FluentStack>

@code {

    [Parameter]
    public string? Key { get; set; }

    protected override void OnInitialized()
    {
        //打印请求的路由数据,这里是从路由数据中获取的key和参数传递是两种方式!
        Logger.LogInformation($"from route data key:{HttpContextAccessor.HttpContext!.Request.RouteValues["key"]}");
    }
}
