@namespace Biwen.QuickApi.DemoWeb.Components

<h1>Render Message</h1>

<p>@Message</p>

<RenderMessage_Partial></RenderMessage_Partial>

@code {

    [Parameter]
    public string? Message { get; set; }

}