[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# IDE0290: 使用主构造函数
dotnet_diagnostic.IDE0290.severity = silent

# IDE0022: 使用方法的程序块主体
dotnet_diagnostic.IDE0022.severity = silent

# CA1822: 将成员标记为 static
dotnet_diagnostic.CA1822.severity = silent

# CA1812: 避免未实例化的内部类
dotnet_diagnostic.CA1812.severity = silent

# IDE0052: 删除未读的私有成员
dotnet_diagnostic.IDE0052.severity = silent

# CA1861: 不要将常量数组作为参数
dotnet_diagnostic.CA1861.severity = silent

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# IDE0044: 添加只读修饰符
dotnet_style_readonly_field = true

# IDE0044: 添加只读修饰符
dotnet_diagnostic.IDE0044.severity = none

# SA1306: Field names should begin with lower-case letter
dotnet_diagnostic.SA1306.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.OrderingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = none

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# SA1501: Statement should not be on a single line
dotnet_diagnostic.SA1501.severity = none

# SA1123: Do not place regions within elements
dotnet_diagnostic.SA1123.severity = silent
