@page "/page/mypage"

@attribute [FeatureGate("mypage")]

<div>
    hello my page!
</div>


<feature name="mycontroller-subfeature">
    <p>Cool stuff you can only see if Content Enhancement is enabled.</p>
</feature>
