@inherits LayoutComponentBase

<PageTitle>@Md</PageTitle>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Biwen.QuickApi.DemoWeb.styles.css" />
    <link rel="stylesheet" href="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.bundle.scp.css" />
    <link rel="stylesheet" href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" />
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
</head>

<body>
    <div>

        <FluentToastProvider />
        <FluentDialogProvider />
        <FluentTooltipProvider />
        <FluentMessageBarProvider />

        <FluentMainLayout NavMenuTitle="Navigation menu">
            <Header><h3>欢迎使用 @Md 框架进行开发!</h3></Header>
            <SubHeader><p>UI Tempelate</p></SubHeader>
            <Body>
                <FluentBodyContent>
                    @Body
                </FluentBodyContent>
            </Body>
            <NavMenuContent>
                <FluentNavLink Href="/openapi/scalar/v1" Text="Home">Api文档</FluentNavLink>
                <FluentNavLink Href="https://github.com/vipwan/Biwen.QuickApi">Githubs</FluentNavLink>
                <FluentNavLink Href="https://github.com/vipwan/Biwen.QuickApi/issues">Issues</FluentNavLink>
                <FluentNavLink Href="https://github.com/vipwan/Biwen.QuickApi?tab=MIT-1-ov-file">License</FluentNavLink>
            </NavMenuContent>
        </FluentMainLayout>
        <Footer>
            @Md
        </Footer>
    </div>
</body>
</html>

@code {
    public string Md { get; set; } = "Biwen.QuickApi";
}